* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
}

/* PROFILE stylization */

.profile-info {
    width: 235px;
    height: 100vh;
}
.profile-btn {
    width: 100px;
    height: 100px;
    margin: 20px auto 0 50px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
}
.profile-btn:hover {
    width: 101px;
    height: 101px;
    background-color: rgb(211, 211, 211);
}

.profile-info p {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 auto 55px;
}


/* CHAT stylization */

.container-chat {
    width: 800px;
    height: 100vh;
}



.chat-messages {
    max-width: 800px;
    height: 850px;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    margin: 0 auto 0 5px;
    overflow-y: scroll;
}
.chat-messages ul li {
    height: 100px;
    display: flex;
    margin-top: 10px;
    padding: 20px;
}

.btnProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(206, 206, 206);
    cursor: pointer;
}

.pMessages {
    margin-left: 10px;
}

.pName {
   font-size: 18px;
   font-weight: 700;
}

.messages {
    font-size: 16px;
    font-weight: 500;
}

.box-delete{
    display: flex;
    background: none;
    margin: -20px auto 0 600px;
}

.fa-trash {
    margin-left: 10px;
}
.fa-trash:hover {
    color: red;
}

.edit {
    width: 400px;
    height: 50px;
    display: flex;
    padding: 10px;
    margin: 0 auto 0 160px;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
}

.editMessage {
   width: 200px;
   height: 30px;
   padding: 5px;
   margin-left: 5px;
   border-radius: 5px 0 0 5px;
}

.edit-btn {
    width: 90px;
    height: 30px;
    background-color: greenyellow;
}

.cancel-btn {
    width: 90px;
    height: 30px;
    background-color: red;
    border-radius: 0 5px 5px 0;
}

.chat-messages::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background: rgb(255, 255, 255);
}
.chat-messages::-webkit-scrollbar-thumb{
    background: rgb(139, 139, 139);
}
.send-messages { 
    width: 800px;
    height: 60px;
    display: flex;
    margin: 5px 0 auto 5px;
}
#val {
    width: 790px;
    height: 44px;
    padding: 14px;
    margin: 7px 0 auto 1px;
    background-color: rgb(228, 228, 228);
}


/* USERS stylization */ 

.users-info{
    width: 300px;
    height: 100vh;
    padding: 10px;
    display: block;
    background-color: rgb(236, 236, 236);
    overflow-y: scroll;
    transition-delay: 0.4s;
}
.users-info li:hover {
    transform: translateX(1px)
}

.users-info::-webkit-scrollbar{
    width: 6px;
    background: rgb(255, 255, 255);
}
.users-info::-webkit-scrollbar-thumb{
    background: rgb(139, 139, 139);
}
.users-info li {
    width: 220px;
    height: 70px;
    display: flex;
    list-style: none;
}

.users-info button {
    width: 60px;
    height: 60px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    cursor: pointer;
}
.users-info p {
    font-size: 20px;
    font-weight: 400;
    margin: 10px
}